# SDK Versions
NEXT_PUBLIC_WEB_SDK_VERSION=1.10.0
NEXT_PUBLIC_DOCUMENT_AUTHORING_SDK_VERSION=1.10.0

# AIDP/XtractFlow API Configuration
NEXT_PUBLIC_NUTRIENT_API_URL=https://api.xtractflow.com
NUTRIENT_AUTH_TOKEN=

# Nutrient DWS API Configuration
NUTRIENT_API_BASE_URL=https://api.nutrient.io/
NUTRIENT_API_KEY=
